.weather-container {
  justify-content: center;
  align-items: center;
  display: flex;
  background:  rgb(255, 243, 221) ;
  color: rgba(0, 0, 0, 0.548);
}

.weather-container{
  padding-left: 50px;
  box-shadow: 6px 7px 7px hsla(35, 51%, 13%, 0.438) ;
  height: 350px;
  width: 550px;
  flex-direction: column;
  display: flex;
}

.weather-container h1 {
  color: rgba(0, 0, 0, 0.74);
  font-size: 2.5rem;
  font-weight: 700;
  display: flex;
  width: 550px;
  padding-left: 50px;
  justify-content: flex-start;
}

.temperature-container {
  display: flex;
  justify-content: space-between;
}

.title-container {
  padding-left: 50px;
  color: rgba(0, 0, 0, 0.74);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 550px;
  font-size: 1rem;
  padding-bottom: 1rem;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

.close-button-container {
  padding-right: 40px;
  display: flex;
}

.near-weathers-container {
  margin-right: 50px;
  align-items: center;
  justify-content: center;
  display: flex;
  gap: 15px;
  width: 500px;
  font-weight: 600;
  height: 90px;
  border-top: solid 2px rgb(255, 162, 0);
}

.temperature-container {
  margin: 0px 11rem 0px 0px;
  width: 300px;
  height: 100px;
  flex-wrap: wrap;
}

.temperature-container span {
  font-weight: 600;
  color: rgba(0, 0, 0, 0.801);
  display: flex;
}

.temperature-container p {
  font-size: 1.1rem;
  width: 135px;
  display: flex;
  align-items: center;
  gap: 5px;
  justify-content: center;
}


.near-weathers-container span {
  color:  rgb(255, 162, 0) ;
  font-weight: 700;
}

.near-weathers-container p {
  color: rgba(0, 0, 0, 0.726);
  font-size: 1.2rem;
  font-weight: 700;
}

