form {
  align-items: center;
  justify-content: center;
  display: flex;
  padding: 20px 0px 2rem 0px;
}

.icon {
  height: 60px;
  display: flex;
  padding-right: 20px;
  position: absolute;
}

.icon button {
  border: none;
  background: none;
  cursor: pointer;
}

input {
  align-items: center;
  display: flex;
  justify-content: center;
  background: #ffff;
  font-size: 1.8rem;
  padding-left: 40px;
  border: none;
  width: 550px;
  height: 60px;
  box-shadow: 6px 7px 7px hsla(35, 51%, 13%, 0.438) ;
}

.wrapper {
  align-items: center;
  justify-content: flex-end;
  display: flex;
}
