.weather-container {
  justify-content: center;
  align-items: center;
  display: flex;
  background:  rgb(255, 243, 221) ;
  color: rgba(0, 0, 0, 0.548);
}

.weather-container{
  padding-left: 20px;
  box-shadow: 6px 7px 7px hsla(35, 51%, 13%, 0.438) ;
  height: 300px;
  width: 500px;
  flex-direction: column;
  display: flex;
}

.weather-container h1 {
  color: rgba(0, 0, 0, 0.74);
  margin-top: 10px;
  align-items: center;
  font-size: 2rem;
  font-weight: 700;
  display: flex;
  width: 450px;
  justify-content: space-between;
}

.temperature-container {
  display: flex;
  width: 450px;
  justify-content: space-between;
}

.title-container {
  color: rgba(0, 0, 0, 0.74);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 450px;
  font-size: 0.9rem;
}


button {
  border: none;
  background: none;
  cursor: pointer;
}

.close-button-container {
  display: flex;
}

.near-weathers-container {
  margin-right: 20px;
  align-items: center;
  justify-content: center;
  display: flex;
  gap: 15px;
  font-weight: 600;
  width: 450px;
  height: 70px;
  border-top: solid 2px rgb(255, 162, 0);
}

.temperature-container {
  margin: 10px 10rem 10px 0px;
  width: 300px;
  height: 100px;
  flex-wrap: wrap;
}

.temperature-container span {
  font-weight: 600;
  color: rgba(0, 0, 0, 0.801);
  display: flex;
}

.temperature-container p {
  font-size: 1.1rem;
  width: 135px;
  display: flex;
  align-items: center;
  gap: 5px;
  justify-content: center;
}


.near-weathers-container span {
  color:  rgb(255, 162, 0) ;
  font-weight: 700;
}

.near-weathers-container p {
  color: rgba(0, 0, 0, 0.726);
  font-size: 1.2rem;
  font-weight: 700;
}

